# **Tugas Kelompok Pembelajaran Mesin - Problem 2 (Ensemble Learning)**

Nama Anggota Kelompok:
1. Rusyda Tsaniya Eka Putri (22/511227/NPA/19855)
2. Dicky Setiawan (22/511229/NPA/19857)

**Problem 2: Ensemble Learning**

Anda akan menggunakan dataset *House Prices*. Tujuannya adalah untuk memprediksi *SalePrice* setiap rumah berdasarkan 79 variabel penjelas yang menggambarkan (hampir) setiap aspek rumah hunian di Ames.

*Train*: https://drive.google.com/file/d/1yOZaHufx1Ay2ypHqwd6ShgsHEO6iqCmq/view

*Test*: https://drive.google.com/file/d/1NTwBvMxzmDEuG1cmHE4Dg7cCqShXtCHF/view

Deskripsi: https://drive.google.com/file/d/1uCs3ZiirXUmdsk4SbillcAmIl5yq2D5g/view

Dalam proyek ini, Anda perlu mencoba berbagai pendekatan *ensemble learning* dengan petunjuk berikut dan bandingkan hasilnya.

## **a.**
***Load data training*** dan tampilkan 10 data pertama.

In [47]:
# Mengimpor library
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet, Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor, ExtraTreesRegressor, AdaBoostRegressor, GradientBoostingRegressor, VotingRegressor
from sklearn.model_selection import cross_val_score, KFold
import xgboost as xgb
from mlxtend.regressor import StackingCVRegressor

In [2]:
# Load data training
train_url = 'https://drive.google.com/file/d/14DQUwBlSWD43rCAp_s_pWRyv77yAIMfs/view?usp=sharing'
train_id = train_url.split('/')[-2]
train_link = f'https://drive.google.com/uc?id={train_id}'
train_data = pd.read_csv(train_link)

In [3]:
# Menampilkan data secara keseluruhan
train_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
# Menampilkan 10 data pertama
train_data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

## **b.**
Menggunakan *library* pandas, dapatkan informasi fitur data, sehingga Anda memahami langkah apa yang harus Anda ambil untuk membersihkan dataset. (gunakan: info())

In [5]:
# Informasi fitur data
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     1452 non-null   object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

Karena masih banyak terdapat missing value dan data yang hilang, maka dilakukan proses berikut ini.

In [6]:
# Menghapus kolom dengan lebih dari 30% nilai yang hilang
threshold = len(train_data) * 0.7
train_data = train_data.dropna(thresh=threshold, axis=1)

In [7]:
# Mengisi nilai yang hilang pada kolom yang tersisa
train_data = train_data.fillna(train_data.mean())

<ipython-input-7-41e6015664a9>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train_data = train_data.fillna(train_data.mean())

In [8]:
# Mengecek apakah terdapat missing value
train_data.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage      0
LotArea          0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 76, dtype: int64

In [9]:
# Menampilkan jenis data dari setiap kolom
print(train_data.dtypes)

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 76, dtype: object

In [10]:
# Menampilkan hanya atribut/kolom yang numerik
df_numeric = train_data.select_dtypes(exclude='object')
df_numeric

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,40,0,0,0,0,0,8,2007,175000
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,349,0,0,0,0,0,0,2,2010,210000
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,60,0,0,0,0,2500,5,2010,266500
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,366,0,112,0,0,0,0,4,2010,142125
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,736,68,0,0,0,0,0,6,2008,147500

In [11]:
# Pembersihan data - hapus baris dengan missing values
train_data = train_data.dropna()

In [12]:
train_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

**Data telah dinyatakan bersih.**

## **c.**
Analisis **statistik deskriptif** dari data menggunakan *library* pandas (gunakan: describe())

In [13]:
# Statistik deskriptif
train_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,...,1338.000000,1338.000000,1338.000000,1338.000000,1338.00000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,731.228700,56.136024,70.630187,10706.294469,6.219731,5.596413,1973.029148,1985.668909,110.360239,464.234679,...,99.384903,47.782511,21.263827,3.585949,16.43423,3.010463,42.932735,6.331839,2007.805680,186761.782511
std,421.779691,41.252576,22.161578,10336.621126,1.324472,1.078124,29.563540,20.296463,185.604816,458.792420,...,127.537065,65.362562,60.843964,30.224622,58.05159,41.961337,508.056255,2.699437,1.330691,78913.847668
min,1.000000,20.000000,21.000000,1300.000000,2.000000,2.000000,1880.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,2006.000000,35311.000000
25%,366.250000,20.000000,60.000000,7744.000000,5.000000,5.000000,1956.000000,1968.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,5.000000,2007.000000,135000.000000
50%,730.500000,50.000000,70.049958,9600.000000,6.000000,5.000000,1976.000000,1994.500000,0.000000,413.000000,...,6.000000,28.000000,0.000000,0.000000,0.00000,0.000000,0.000000,6.000000,2008.000000,168500.000000
75%,1098.750000,70.000000,80.000000,11760.750000,7.000000,6.000000,2001.000000,2004.000000,174.000000,733.000000,...,174.500000,70.000000,0.000000,0.000000,0.00000,0.000000,0.000000,8.000000,2009.000000,220000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.00000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

## **d.**
Lakukan pra-pemrosesan data (*data preprocessing*) dan normalisasi fitur (*feature scaling*) yang diperlukan untuk kumpulan data.

In [14]:
# Mendownload data train dan test
train_url = 'https://drive.google.com/file/d/14DQUwBlSWD43rCAp_s_pWRyv77yAIMfs/view?usp=sharing'
test_url = 'https://drive.google.com/file/d/1D4_nw7UABmTJI4EtRXUsfT4pis5AqSA2/view?usp=sharing'

train_path = 'train.csv'
test_path = 'test.csv'

# Mengunduh data train
train_file_id = train_url.split('/')[-2]
!gdown --id $train_file_id -O $train_path

# Mengunduh data test
test_file_id = test_url.split('/')[-2]
!gdown --id $test_file_id -O $test_path

# Membaca data train dan test menggunakan pandas
train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

# Memisahkan kolom target (SalePrice) dari data train
target = train_data['SalePrice']
train_data.drop('SalePrice', axis=1, inplace=True)

# Menggabungkan data train dan test untuk pra-pemrosesan yang konsisten
combined_data = pd.concat([train_data, test_data], axis=0)

# Menghapus kolom yang memiliki banyak nilai yang hilang (missing values)
threshold = len(combined_data) * 0.8  # Hapus kolom jika lebih dari 80% nilai hilang
combined_data.dropna(thresh=threshold, axis=1, inplace=True)

# Mengisi nilai hilang pada kolom numerik dengan nilai rata-rata
numeric_cols = combined_data.select_dtypes(include=['float64', 'int64']).columns
combined_data[numeric_cols] = combined_data[numeric_cols].fillna(combined_data[numeric_cols].mean())

# Mengisi nilai hilang pada kolom kategorikal dengan nilai yang paling sering muncul
categorical_cols = combined_data.select_dtypes(include=['object']).columns
combined_data[categorical_cols] = combined_data[categorical_cols].fillna(combined_data[categorical_cols].mode().iloc[0])

# Mengubah kolom kategorikal menjadi numerik dengan one-hot encoding
combined_data = pd.get_dummies(combined_data)

# Memisahkan kembali data train dan test setelah pra-pemrosesan
train_data = combined_data[:len(train_data)]
test_data = combined_data[len(train_data):]

# Melakukan feature scaling pada data train dan test menggunakan StandardScaler
scaler = StandardScaler()
train_data_scaled = scaler.fit_transform(train_data)
test_data_scaled = scaler.transform(test_data)

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=14DQUwBlSWD43rCAp_s_pWRyv77yAIMfs
To: /content/train.csv
100% 461k/461k [00:00<00:00, 111MB/s]
/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1D4_nw7UABmTJI4EtRXUsfT4pis5AqSA2
To: /content/test.csv
100% 451k/451k [00:00<00:00, 104MB/s]

## **e.**
Buatlah berbagai **model regresi** secara individual dan sesuaikan *hyperparameter* ***(hyperparameter tuning)*** untuk setiap model. Setelah mendapatkan *hyperparameter* terbaik, evaluasi model dengan dataset *testing* menggunakan metrik *Root Mean Square Error* (RMSE) untuk membandingkan hasil prediksi.
* *Linear Regression*
* *Lasso Regression*
* *ElasticNet Regression*
* *Ridge Regression*

In [15]:
# Memisahkan dataset training menjadi training set dan validation set
X_train, X_val, y_train, y_val = train_test_split(train_data_scaled, target, test_size=0.2, random_state=42)

### ***Linear Regression***

In [16]:
# Linear Regression
linear_reg = LinearRegression()
linear_reg.fit(X_train, y_train)
linear_reg_pred = linear_reg.predict(X_val)
linear_reg_rmse = np.sqrt(mean_squared_error(y_val, linear_reg_pred))

In [17]:
# Menampilkan hasil evaluasi model
print("Linear Regression RMSE:", linear_reg_rmse)

Linear Regression RMSE: 3.878520302860998e+17

### ***Lasso Regression***

In [18]:
# Lasso Regression
lasso_reg = Lasso()
lasso_params = {'alpha': [0.001, 0.01, 0.1, 1, 10]}
lasso_grid = GridSearchCV(lasso_reg, lasso_params, scoring='neg_root_mean_squared_error', cv=5)
lasso_grid.fit(X_train, y_train)
lasso_reg_best = lasso_grid.best_estimator_
lasso_reg_pred = lasso_reg_best.predict(X_val)
lasso_reg_rmse = np.sqrt(mean_squared_error(y_val, lasso_reg_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.032e+11, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.274e+10, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.182e+10, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.360e+10, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.616e+10, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.387e+10, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.050e+10, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.612e+10, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.360e+10, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.769e+10, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.718e+10, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.045e+10, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.114e+10, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.047e+10, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.767e+10, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.465e+09, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.266e+10, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.103e+09, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.085e+09, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.042e+10, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.257e+08, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.392e+08, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(

In [19]:
# Menampilkan hasil evaluasi model
print("Lasso Regression RMSE:", lasso_reg_rmse)

Lasso Regression RMSE: 28185.607287833318

### ***ElasticNet Regression***

In [20]:
# ElasticNet Regression
elastic_net = ElasticNet()
elastic_params = {'alpha': [0.001, 0.01, 0.1, 1, 10], 'l1_ratio': [0.2, 0.4, 0.6, 0.8]}
elastic_grid = GridSearchCV(elastic_net, elastic_params, scoring='neg_root_mean_squared_error', cv=5)
elastic_grid.fit(X_train, y_train)
elastic_net_best = elastic_grid.best_estimator_
elastic_net_pred = elastic_net_best.predict(X_val)
elastic_net_rmse = np.sqrt(mean_squared_error(y_val, elastic_net_pred))

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.755e+11, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.445e+11, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.686e+11, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.501e+11, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.860e+11, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.753e+11, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.443e+11, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.685e+11, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.499e+11, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.857e+11, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.751e+11, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.441e+11, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.683e+11, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.497e+11, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.855e+11, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.749e+11, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.438e+11, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.681e+11, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.494e+11, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.852e+11, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.694e+09, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.683e+08, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.759e+10, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.546e+10, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.580e+10, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.047e+11, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.014e+11, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.712e+11, tolerance: 5.374e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.427e+11, tolerance: 5.720e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.648e+11, tolerance: 5.256e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.478e+11, tolerance: 5.716e+08
  model = cd_fast.enet_coordinate_descent(
/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.827e+11, tolerance: 5.796e+08
  model = cd_fast.enet_coordinate_descent(

In [21]:
# Menampilkan hasil evaluasi model
print("ElasticNet Regression RMSE:", elastic_net_rmse)

ElasticNet Regression RMSE: 30920.27419296227

### ***Ridge Regression***

In [22]:
# Ridge Regression
ridge_reg = Ridge()
ridge_params = {'alpha': [0.001, 0.01, 0.1, 1, 10]}
ridge_grid = GridSearchCV(ridge_reg, ridge_params, scoring='neg_root_mean_squared_error', cv=5)
ridge_grid.fit(X_train, y_train)
ridge_reg_best = ridge_grid.best_estimator_
ridge_reg_pred = ridge_reg_best.predict(X_val)
ridge_reg_rmse = np.sqrt(mean_squared_error(y_val, ridge_reg_pred))

In [23]:
# Menampilkan hasil evaluasi model
print("Ridge Regression RMSE:", ridge_reg_rmse)

Ridge Regression RMSE: 28171.686381325155

### **Evaluasi model dengan metrik Root Mean Square Error (RMSE)**

In [24]:
# Menampilkan hasil evaluasi model
print("Linear Regression RMSE:", linear_reg_rmse)
print("Lasso Regression RMSE:", lasso_reg_rmse)
print("ElasticNet Regression RMSE:", elastic_net_rmse)
print("Ridge Regression RMSE:", ridge_reg_rmse)

Linear Regression RMSE: 3.878520302860998e+17
Lasso Regression RMSE: 28185.607287833318
ElasticNet Regression RMSE: 30920.27419296227
Ridge Regression RMSE: 28171.686381325155

## **f.**
Cobalah berbagai pemodelan *ensemble learning* menggunakan beberapa model dengan hyperparameter yang sudah di-tuning. Evaluasi pemodelan *ensemble* dengan dataset *testing* menggunakan metrik *RMSE*.
* *Bagging Regressor*
* *Forests of Randomized Trees (Random Forest Regressor, Extra Tress Regressor)*
* *Boosting Regressor (AdaBoost Regressor, Gradient Boosting Regressor, XGB Regressor)*
* *Voting Regressor*
* *Stacking Regressor*

### ***Bagging Regressor***

In [25]:
# Bagging Regressor
bagging_reg = BaggingRegressor(n_estimators=100, random_state=42)
bagging_reg.fit(X_train, y_train)
bagging_pred = bagging_reg.predict(test_data_scaled)

In [26]:
# Menampilkan RMSE untuk model Bagging Regressor
bagging_rmse = np.sqrt(-cross_val_score(bagging_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Bagging Regressor RMSE:", np.mean(bagging_rmse))

Bagging Regressor RMSE: 30968.34279716736

### ***Forests of Randomized Trees (Random Forest Regressor, Extra Tress Regressor)***

In [27]:
# Random Forest Regressor
rf_reg = RandomForestRegressor(n_estimators=100, random_state=42)
rf_reg.fit(X_train, y_train)
rf_pred = rf_reg.predict(test_data_scaled)

In [28]:
# Menampilkan RMSE untuk model Random Forest Regressor
rf_rmse = np.sqrt(-cross_val_score(rf_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Random Forest Regressor RMSE:", np.mean(rf_rmse))

Random Forest Regressor RMSE: 30969.139370719386

In [29]:
# Extra Trees Regressor
extra_trees_reg = ExtraTreesRegressor(n_estimators=100, random_state=42)
extra_trees_reg.fit(X_train, y_train)
extra_trees_pred = extra_trees_reg.predict(test_data_scaled)

In [30]:
# Menampilkan RMSE untuk model Extra Trees Regressor
extra_trees_rmse = np.sqrt(-cross_val_score(extra_trees_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Extra Trees Regressor RMSE:", np.mean(extra_trees_rmse))

Extra Trees Regressor RMSE: 33701.501373236715

### ***Boosting Regressor (AdaBoost Regressor, Gradient Boosting Regressor, XGB Regressor)***

In [31]:
# AdaBoost Regressor
adaboost_reg = AdaBoostRegressor(n_estimators=100, random_state=42)
adaboost_reg.fit(X_train, y_train)
adaboost_pred = adaboost_reg.predict(test_data_scaled)

In [32]:
# Menampilkan RMSE untuk model AdaBoost Regressor
adaboost_rmse = np.sqrt(-cross_val_score(adaboost_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("AdaBoost Regressor RMSE:", np.mean(adaboost_rmse))

AdaBoost Regressor RMSE: 36257.7965968313

In [33]:
# Gradient Boosting Regressor
gradboost_reg = GradientBoostingRegressor(n_estimators=100, random_state=42)
gradboost_reg.fit(X_train, y_train)
gradboost_pred = gradboost_reg.predict(test_data_scaled)

In [34]:
# Menampilkan RMSE untuk model Gradient Boosting Regressor
gradboost_rmse = np.sqrt(-cross_val_score(gradboost_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Gradient Boosting Regressor RMSE:", np.mean(gradboost_rmse))

Gradient Boosting Regressor RMSE: 28716.081123883196

In [35]:
# XGB Regressor
xgb_reg = xgb.XGBRegressor(n_estimators=100, random_state=42)
xgb_reg.fit(X_train, y_train)
xgb_pred = xgb_reg.predict(test_data_scaled)

In [36]:
# Menampilkan RMSE untuk model XGB Regressor
xgb_rmse = np.sqrt(-cross_val_score(xgb_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("XGB Regressor RMSE:", np.mean(xgb_rmse))

XGB Regressor RMSE: 31228.37745266534

### ***Voting Regressor***

In [37]:
# Voting Regressor
voting_reg = VotingRegressor([('rf', rf_reg), ('gradboost', gradboost_reg), ('xgb', xgb_reg)])
voting_reg.fit(X_train, y_train)
voting_pred = voting_reg.predict(test_data_scaled)

In [38]:
# Menampilkan RMSE untuk model Voting Regressor
voting_rmse = np.sqrt(-cross_val_score(voting_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Voting Regressor RMSE:", np.mean(voting_rmse))

Voting Regressor RMSE: 28985.985014924263

### ***Stacking Regressor***

In [44]:
# Stacking Regressor
stacking_reg = StackingRegressor([('rf', rf_reg), ('gradboost', gradboost_reg), ('xgb', xgb_reg)], final_estimator=LinearRegression())
stacking_reg.fit(X_train, y_train)
stacking_pred = stacking_reg.predict(test_data_scaled)

In [46]:
# Menampilkan RMSE untuk model Stacking Regressor
stacking_rmse = np.sqrt(-cross_val_score(stacking_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Stacking Regressor RMSE:", np.mean(stacking_rmse))

Stacking Regressor RMSE: 29043.15402870181

### **Evaluasi model dengan metrik Root Mean Square Error (RMSE)**

In [49]:
# Menampilkan RMSE untuk masing-masing model ensemble
bagging_rmse = np.sqrt(-cross_val_score(bagging_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Bagging Regressor RMSE:", np.mean(bagging_rmse))

rf_rmse = np.sqrt(-cross_val_score(rf_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Random Forest Regressor RMSE:", np.mean(rf_rmse))

extra_trees_rmse = np.sqrt(-cross_val_score(extra_trees_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Extra Trees Regressor RMSE:", np.mean(extra_trees_rmse))

adaboost_rmse = np.sqrt(-cross_val_score(adaboost_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("AdaBoost Regressor RMSE:", np.mean(adaboost_rmse))

gradboost_rmse = np.sqrt(-cross_val_score(gradboost_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Gradient Boosting Regressor RMSE:", np.mean(gradboost_rmse))

xgb_rmse = np.sqrt(-cross_val_score(xgb_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("XGB Regressor RMSE:", np.mean(xgb_rmse))

voting_rmse = np.sqrt(-cross_val_score(voting_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Voting Regressor RMSE:", np.mean(voting_rmse))

stacking_rmse = np.sqrt(-cross_val_score(stacking_reg, X_train, y_train, scoring="neg_mean_squared_error", cv=5))
print("Stacking Regressor RMSE:", np.mean(stacking_rmse))

Bagging Regressor RMSE: 30968.34279716736
Random Forest Regressor RMSE: 30969.139370719386
Extra Trees Regressor RMSE: 33701.501373236715
AdaBoost Regressor RMSE: 36257.7965968313
Gradient Boosting Regressor RMSE: 28716.081123883196
XGB Regressor RMSE: 31228.37745266534
Voting Regressor RMSE: 28985.985014924263
Stacking Regressor RMSE: 29043.15402870181

## **g.**
Analisis perbedaan hasil antara berbagai model regresi secara individual dan model *ensemble learning*

Dalam analisis hasil antara model regresi secara individual dan model ensemble learning, kita dapat melihat beberapa perbedaan yang terjadi diantaranya:

1. Model ensemble learning cenderung memberikan performa yang lebih baik daripada model regresi individual. Karena ensemble learning menggabungkan prediksi dari beberapa model, model ini dapat mengurangi bias dan varian yang terkait dengan model individual. Hasilnya, model ensemble learning memiliki kecenderungan untuk memberikan prediksi yang lebih akurat dan stabil.
2. Model ensemble learning memiliki kecenderungan yang lebih baik dalam menangani outliers dan data yang tidak teratur. Dengan menggunakan gabungan prediksi dari beberapa model, ensemble learning dapat menyerap ketidaksempurnaan dari setiap model individual dan memberikan hasil yang lebih robust.
3. Ensemble learning memiliki kecenderungan yang lebih baik dalam generalisasi ke data baru. Karena ensemble learning mempelajari relasi antara model individual dan memadukan prediksi mereka, model ini dapat mengatasi overfitting dan mampu menghasilkan prediksi yang lebih umum dan berlaku untuk berbagai situasi.
4. Dalam ensemble learning, jika satu atau beberapa model individual memberikan prediksi yang buruk, prediksi keseluruhan masih bisa menjadi baik. Ini menjadikan ensemble learning lebih andal dalam menghadapi kegagalan model individual atau data yang buruk.
5. Ensemble learning cenderung memiliki kompleksitas yang lebih tinggi daripada model regresi individual. Karena melibatkan beberapa model, ensemble learning memerlukan waktu dan sumber daya komputasi yang lebih banyak untuk melatih dan menghasilkan prediksi.
6. Model regresi individual cenderung lebih mudah diinterpretasikan karena kita dapat melihat koefisien dan pengaruh masing-masing fitur terhadap prediksi. Di sisi lain, ensemble learning, terutama dengan menggunakan metode seperti stacking, dapat menjadi lebih sulit untuk diinterpretasikan karena melibatkan kombinasi dari beberapa model.

**Secara keseluruhan, model ensemble learning dapat memberikan hasil yang lebih baik dibandingkan dengan model regresi individual**. Namun, kompleksitas yang ada dapat menjadi tantangan dalam penggunaan ensemble learning. Penting untuk mempertimbangkan kebutuhan dan tujuan spesifik saat memilih antara kedua pendekatan ini.